name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    strategy:
      matrix:
        go_version: [1.21.x]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go 1.21
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go_version }}
      - name: Build with xgo
        uses: crazy-max/ghaction-xgo@v3
        with:
          xgo_version: latest
          go_version: ${{ matrix.go_version }}
          dest: build
          prefix: confluence_cli
          targets: windows/386,windows/amd64,linux/386,linux/amd64,darwin/386,darwin/amd64
          v: true
          x: false
          ldflags: -s -w
      - uses: actions/upload-artifact@v4
        with:
          name: confluence_cli
          path: build/
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          artifacts: "*"
          draft: false
          prerelease: false